<h1>Welcome Home!</h1>
<strong>Here are your choises:</strong>
<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/hello">Hello World App - <i>Introduction</i></a></li>
  <li><a routerLink="/reddit">Reddit Clone - <i>First Angular 2 Web Application</i></a></li>
  <li><a routerLink="/inventory">Inventory App - <i>How Angular Works</i></a></li>
  <li><a routerLink="/forms">Forms in Angular 2 - <i>Title says it all</i></a></li>
  <li><a routerLink="/http">Simple HTTP App</a></li>
  <li><a routerLink="/forms">Basic Forms App</a></li>

  <li><a routerLink="/tube">YouTube Search App</a></li>
</ul>
<router-outlet>