<h1>Welcome Home!</h1>
<strong>First Steps</strong>
<ul>
  <li><a routerLink="/home">Home</a></li>
  <li><a routerLink="/hello">Hello World App - <i>Introduction</i></a></li>
  <li><a routerLink="/reddit">Reddit Clone - <i>First Angular 2 Web Application</i></a></li>
  <li><a routerLink="/inventory">Inventory App - <i>How Angular Works</i></a></li>
</ul>
<strong>Forms (not yet implemented)</strong>
<ul>
  <li><a routerLink="/forms">Basic Forms</a></li>
</ul>
<strong>HTTP</strong>
<ul>
  <li><a routerLink="/http">Simple HTTP App</a></li>
  <li><a routerLink="/tube">YouTube Search App</a></li>
</ul>
<strong>Routing</strong>
<ul>
  <li><a routerLink="/routing/basic">Basic Routing (using child routes)</a></li>
  <li><a routerLink="">Music</a></li>
</ul>
<router-outlet>